## constraint specifications
## [<variable>] : <function> [: <filter>]

############# All Blocks ###########
N/100 1     : repeat_max 1
# In each block, no direct repeats of the same stimuli

N/100 6     : repeat_max 4
# In each block, max of 4 repeats for stimuli with the same response.

############# Block 1: neutral ###############
N/100 4     : repeat_max 5 : 0000
# In the first block of 100 trials, max of 5 repeats for stimuli with the same relevant feature.

N/100 5     : repeat_max 4 : 0000
# In the first block of 100 trials, max of 4 repeats for stimuli with the same congruency.

N/100 4      : frequency  50 50 : 0000
# In the first block of 100 trials, each of the 2 relevant features occurs 50 times.

N/100 5      : frequency  50 50 : 0000
# In the first block of 100 trials, each of the 2 congruency conditions occurs 50
# times.

############# Block 2: farbe ###############
N/100 5     : repeat_max 4 : 0001
# In the second block of 100 trials, max of 4 repeats for stimuli with the same congruency.

N/100 4      : frequency  20 20 : 0001[L]
# In the second block of 100 trials, the direction feature (linie) occurs 20 times and the
# color feature (farbe) occurs 80 times.

N/100 5      : frequency  50 50 : 0001
# In the second block of 100 trials, each of the 2 congruency conditions occurs 50
# times.

############# Block 3: incongruent ###############
N/100 4     : repeat_max 5 : 0002
# In the third block of 100 trials, max of 4 repeats for stimuli with the same relevant feature.

N/100 5      : frequency  20 20 : 0002[c]
# In the third block of 100 trials, the congruent condition occurs 20 times and the
# incongruent condition occurs 80 times.

N/100 4      : frequency  50 50 : 0002
# In the third block of 100 trials, each of the 2 relevant features occurs 50
# times.

############# Block 4: linie ###############
N/100 5     : repeat_max 4 : 0003
# In the fourth block of 100 trials, max of 4 repeats for stimuli with the same congruency.

N/100 4      : frequency  20 20 : 0003[F]
# In the fourth block of 100 trials, the color feature (farbe) occurs 20 times and the
# direction feature (linie) occurs 80 times.

N/100 5      : frequency  50 50 : 0003
# In the fourth block of 100 trials, each of the 2 congruency conditions occurs 50
# times.

############# Block 5: congruent ###############
N/100 4     : repeat_max 5 : 0004
# In the fifth block of 100 trials, max of 4 repeats for stimuli with the same relevant feature.

N/100 5      : frequency  20 20 : 0004[i]
# In the fifth block of 100 trials, the incongruent condition occurs 20 times and the
# congruent condition occurs 80 times.

N/100 4      : frequency  50 50 : 0004
# In the fifth block of 100 trials, each of the 2 relevant features occurs 50
# times.

############# Block 6: neutral ###############
N/100 4     : repeat_max 5 : 0005
# In the sixth block of 100 trials, max of 5 repeats for stimuli with the same relevant feature.

N/100 5     : repeat_max 4 : 0005
# In the sixth block of 100 trials, max of 4 repeats for stimuli with the same congruency.

N/100 4      : frequency  50 50 : 0005
#In the sixth block of 100 trials, each of the 2 relevant features occurs 50 times.

N/100 5      : frequency  50 50 : 0005
# In the sixth block of 100 trials, each of the 2 congruency conditions occurs 50
# times.

#########################################
blocksize      100
blockfailures  30
